*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    background: $color-white;
    margin: 0 auto;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
    color: $color-black;
    line-height: 1;
}