/* Colors */
$color-darken-primary: rgb(1, 62, 194);
$color-primary: #2229BD;
$color-primary10: rgba(34, 42, 189, 0.1);
$color-primary30: rgba(34, 42, 189, 0.3);
$color-primary60: rgba(34, 42, 189, 0.6);
$color-darkgreen:#3cb998;
$color-green:#4FC6A7;
$color-green10: rgba(79, 198, 166, 0.1);
$color-green30: #4fc6a63b;
$color-darkred:#e45b43;
$color-red:#ff6347;
$color-red10:rgba(255, 99, 71, 0.05);
$color-red30:rgba(255, 99, 71, 0.3);
$color-red60:rgba(255, 99, 71, 0.6);
$color-yellow:#FFB326;
$color-yellow30:rgba(255, 179, 38, 0.3);
$color-black: #212121;
$color-grey: rgba(33, 33, 33, 0.6);
$color-medium-grey: rgba(33, 33, 33,0.3);
$color-lightgrey: rgba(33, 33, 33, 0.07);
$color-offwhite: rgba(33, 33, 33, 0.13);
$color-white: white;
$color-white10: rgba(255, 255, 255, 0.1);
$color-white20: rgba(255, 255, 255, 0.2);
$color-white30: rgba(255, 255, 255, 0.3);
$color-white60: rgba(255, 255, 255, 0.6);
$color-white80: rgba(255, 255, 255, 0.8);
$color-fade-white: rgba(255, 255, 255, 0.5);