/* Font Families */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
$font-primary: 'Manrope', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/* Type Scale */
$base-ratio: 1em;

$text-xs: .8rem;
$text-s: 1rem;
$text-s2: 1.3rem;
$text-s3: 1.6rem;
$text-md: 2rem;
$text-lg: 2.6rem;
$text-lg2: 3.3rem;
$text-lg3: 4.2rem;
$text-xl: 5.3rem;
$text-xl2: 6.8rem;
$text-xl3: 8.6rem;
$text-xl4: 9.5rem;
$text-xxl: 11.3rem;


.text-small{
    font-size: $text-s3;
}

.text-medium{
    font-size: $text-md;
}

.text-large{
    font-size: $text-xl;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.title-xlarge{
    font-size: $text-xxl;
    font-weight: 800;
    letter-spacing: -.8rem;
    line-height: 10.9rem;
}

.subtitle-xlarge{
    font-size: $text-lg;
    font-weight: 600;
    letter-spacing: -.13rem;
    line-height: 2.4rem;
}